<section class="hero-section">
    <div class="hero-content">
      <div class="hero-title">
        <img
          src="./assets/img/01_hero/28. Hero Background.png"
          alt=""
          class="wing"
        />
  
        <img
          src="./assets/img/images.jfif"
          class="hero-picture"
          alt=""
        />
  
        <div class="hero-name">
          <p class="intro-text">I am</p>
          <div class="name_subtitle">
            <h1>Ben Hagen</h1>
            <h2>FRONTEND DEVELOPER</h2>
            <div class="btn-container">
              <button class="btn-primary">
                <a href="#contact">Let's talk!</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="socials">
        <div class="line"></div>
        <a href="https://github.com/Ben-Hagen" target="_blank">
          <img src="./assets/img/01_hero/Property 1=Default.png" alt="" />
        </a>
        <a
          href=""
          target="_blank"
        >
          <img
            src="./assets/img/01_hero/Property 1=Default-2.png"
            alt=""
          />
        </a>
        <a href="mailto:ben_hagen@gmx.de"> <img src="./assets/img/01_hero/Property 1=Default-3.png" alt="" /></a>
       
        <p>ben_hagen(at)gmx.de</p>
      </div>
    </div>
  </section>
  